[net]
batch=128
subdivisions=2
width=320
height=320
channels=3
momentum=0.949
decay=0.0005
angle=0
saturation=1.5
exposure=1.5
hue=.1


learning_rate=0.001
burn_in=4000
max_batches=800020
policy=steps
steps=400000,650000
scales=.1,.1

[convolutional]
filters=16
size=3
groups=1
stride=2
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=16
size=3
groups=16
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=8
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[convolutional]
filters=48
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=48
size=3
groups=48
stride=2
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=12
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[convolutional]
filters=72
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=72
size=3
groups=72
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=12
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[shortcut]
from=-4
activation=linear

[convolutional]
filters=72
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=72
size=3
groups=72
stride=2
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=16
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[convolutional]
filters=96
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=96
size=3
groups=96
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=16
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[shortcut]
from=-4
activation=linear

[convolutional]
filters=96
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=96
size=3
groups=96
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=16
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[shortcut]
from=-4
activation=linear

[convolutional]
filters=96
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=96
size=3
groups=96
stride=2
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=32
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[convolutional]
filters=192
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=192
size=3
groups=192
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=32
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[shortcut]
from=-4
activation=linear

[convolutional]
filters=192
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=192
size=3
groups=192
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=32
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[shortcut]
from=-4
activation=linear

[convolutional]
filters=192
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=192
size=3
groups=192
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=32
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[shortcut]
from=-4
activation=linear

[convolutional]
filters=192
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=192
size=3
groups=192
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=48
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[convolutional]
filters=288
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=288
size=3
groups=288
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=48
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[shortcut]
from=-4
activation=linear

[convolutional]
filters=288
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=288
size=3
groups=288
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=48
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[shortcut]
from=-4
activation=linear

[convolutional]
filters=288
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=288
size=3
groups=288
stride=2
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=80
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[convolutional]
filters=480
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=480
size=3
groups=480
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=80
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[shortcut]
from=-4
activation=linear

[convolutional]
filters=480
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=480
size=3
groups=480
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=80
size=1
groups=1
stride=1
pad=1
batch_normalize=1
activation=linear

[shortcut]
from=-4
activation=linear
### SPP ###
[maxpool]
stride=1
size=3

[route]
layers=-2

[maxpool]
stride=1
size=5

[route]
layers=-4

[maxpool]
stride=1
size=9

[route]
layers=-1,-3,-5,-6

### End SPP ###
#################################
[convolutional]
filters=288
size=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=288
size=3
groups=288
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=96
size=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=384
size=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
size=1
stride=1
pad=1
filters=255
activation=linear


[yolo]
mask = 3,4,5
anchors = 12, 18,  37, 49,  52,132, 115, 74, 119,199, 243,238
classes=80
num=6
jitter=.1
ignore_thresh = .5
truth_thresh = 1
random=0
#################
scale_x_y = 1.1
iou_thresh=0.213
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=ciou
nms_kind=greedynms
beta_nms=0.6

##################################
[route]
layers= 64

[upsample]
stride=2

[route]
layers=-1,47
#################################
[convolutional]
filters=80
size=1
stride=1
pad=1
batch_normalize=1
activation=relu


[convolutional]
filters=288
size=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=288
size=3
groups=288
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=192
size=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
filters=288
size=1
stride=1
pad=1
batch_normalize=1
activation=relu

[convolutional]
size=1
stride=1
pad=1
filters=255
activation=linear


[yolo]
mask = 0,1,2
anchors = 12, 18,  37, 49,  52,132, 115, 74, 119,199, 243,238
classes=80
num=6
jitter=.1
ignore_thresh = .5
truth_thresh = 1
random=0
#################
scale_x_y = 1.05
iou_thresh=0.213
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=ciou
nms_kind=greedynms
beta_nms=0.6
